* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lekton', monospace;
}

body {
  background-color: #1f1e23;
  color: white;
  padding: 2rem;
  /* max-width: 1200px; */
  margin: 0 auto;
  background-image: url('/static/images/backgrounds/O5X8IV0.jpg');
  background-size: cover;
  background-position: center;
}
/* 
h2{
  padding-left: 350px;
  font-family: 'Lekton', monospace;
} */

/* NAVBAR */
.navigation {
  padding: 0px 120px;
  transition: .3s ease;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #111111;
  height: 150px;
  border-bottom: 0.5px solid rgba(154, 154, 154, 0.5);
}

.navigation.nav-bg {
  background-color: #295f4e;
  padding: 15px 100px;
}

@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}

@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    background: #295f4e;
  }
}

.navbar .nav-item .nav-link {
  font-family: 'Lekton', monospace;
  text-transform: uppercase;
  padding: 15px;
  transition: opacity 0.3s ease;
  font-size: 1.5rem;
  margin-top: 30px;
}

.navbar .nav-item .nav-link:hover {
  opacity: 0.7;
}

.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* NAVBAR ENDING */

.hero {
  margin: 4rem 0;
  padding-top: 80px;
  padding-left: 200px;
  margin-bottom: 300px;
  margin-top : 150px;
  /* background-image: url('/static/images/illustrations/page-title.png'); */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 5rem;
  max-width: 800px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-family: 'Lekton', monospace;
  letter-spacing: -1px;
  position: relative;
  z-index: 2;
}

.hero p {
  color: #9A9A9A;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  font-family: 'Lekton', monospace;
}

.section {
  margin: 3rem 0;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: white;
  font-family: 'Lekton', monospace;
  font-weight: 700;
}


/* PROJECTS */
.project-section h2{
  padding-left: 200px;
  font-size: 3rem;
}
.projects-lists {
  padding-left: 200px;
  margin-bottom: 300px;
  margin-top : 80px;
  display: flex;
  flex-wrap: wrap;
  
  
  /* justify-content: center; */
  gap: 20px;

}

.project-card {
  width: 300px;
  height: 250px;  /* Fixed height for the card */
  background-color: #9a9a9a;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  opacity: 0.95;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card:hover {
  transform: scale(1.15); /* Slight enlargement of the card */
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  color: #9a9a9a;
  margin-top: 10px; /* Space between the card and the title */
}

.project-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  opacity: 0;  /* Initially hidden */
  visibility: hidden;  /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0s ease 0.3s; /* Smooth transition */
}

.project-card:hover .project-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease; /* Transition when hover */
}

.project-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  position: relative;
}

.project-description {
  font-size: 18px;
  color: #111111;
  margin-bottom: 20px;
  font-style: bold;
  opacity: 0;  /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth opacity transition */
}

.project-link {
  display: inline-block;
  background-color: #1f1e23;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
}
.project-image{
  width: 100%;
  object-fit: fit;
  border-radius: 8px;
  transition: transform 0.3s ease; 
}

.project-card:hover .project-image{
  visibility: hidden;
}

.project-card:hover .project-description {
  opacity: 1; /* Make description visible on hover */
}

.project-card:hover .project-link {
  opacity: 1;  /* Make GitHub link visible on hover */
}

.project-link:hover {
  opacity: 1;  /* Change link color on hover */
}
.project-card:hover .project-title {
  visibility: hidden;
}
.project-card:hover .project-link:hover {
  color: #9A9A9A;
}
/* PROJECTS ENDING */


/* General CSS updates for Experience Section */
.section h2{
  padding-left: 200px;
  font-size: 3rem
}
.experience-item {
  padding-left: 200px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8.5rem;
  position: relative; /* Required for the line */
}

.experience-item:not(:last-child)::before {
  content: '';
  position: absolute;
  left: 15.5rem; /* Aligns the line correctly */
  top: 1rem;
  bottom: -6rem; /* Extends the line between items */
  width: 2px; /* Thickness of the line */
  background-color: #9a9a9a;
  z-index: -1; /* Ensures the line is behind the logo and the box */
  opacity: 0.5;
}

.experience-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  z-index: 2;
  border-radius: 50%;
  

}

.experience-content h3 {
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Lekton', monospace;
  font-weight: 700;
  margin-left: 1.5rem;
}

.experience-content .role {
  color: #9A9A9A;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-family: 'Lekton', monospace;
  margin-left: 1.5rem;
}

.experience-content .date {
  color: #9A9A9A;
  font-size: 0.9rem;
  font-family: 'Lekton', monospace;
  margin-left: 1.5rem;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.skill-item {
  background-color: #ffffff0d;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-family: 'Lekton', monospace;
}

.custom-footer {
  padding: 20px;
  margin-top: 40px;
}

.footer-line {
  border: none;
  height: 1px;
  background-color: #9a9a9a;
  opacity: 0.5;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  gap: 300px;
  justify-content: center;
}

.footer-label {
  color: #fff;
  font-weight: 500;
}

.footer-value {
  color: #9a9a9a;
}

/* Optional: Add responsiveness */
@media (max-width: 768px) {
  .footer-content {
      gap: 8px;
  }
  
  .custom-footer {
      padding: 15px;
  }
}
